img {
    display: block;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,11,41,1) 64%, rgba(0,212,255,1) 100%);background: #000000;background: #000000;
    background: rgb(2,0,36);
}

h1 {
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    font-family: "Catamaran", sans-serif;
    color: #999999;
}

.main {
    margin-bottom: 35px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 26px;
        text-align: center;
        font-weight: normal;
        font-family: "Catamaran", sans-serif;
        color: #999999;
    }
    img {
        display: none;
    }
}

a:-webkit-any-link {
    text-decoration: none;
    color: #ba55d3;
    cursor: default;
}

.link {
    text-decoration: none;
    color: #ba55d3;
    cursor: default;
}